In [597]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

%matplotlib inline

In [598]:
batting_data = pd.read_csv('/Users/trishataylor/Documents/week4/homework/moneyball/data/Batting.csv')
info = batting_data[['playerID', 'yearID', 'teamID','H', 'BB', 'HBP', 'AB', 'SF']].copy()
type(info)

pandas.core.frame.DataFrame

In [599]:
year_info = info[np.isfinite(info['yearID'])]

In [600]:
this_year_info = year_info[year_info.yearID == 2015]

In [601]:
top = this_year_info[['H', 'BB', 'HBP']]

bottom = this_year_info[['AB', 'BB', 'HBP', 'SF']]

In [602]:
top = top.sum(axis=1)
bottom = bottom.sum(axis=1)

In [603]:
this_year_info['top_OBP'] = top
this_year_info['bottom_OBP'] = bottom

/Users/trishataylor/Documents/week4/homework/moneyball/.direnv/python-3.5.1/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/trishataylor/Documents/week4/homework/moneyball/.direnv/python-3.5.1/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [604]:
OBP = this_year_info['top_OBP']/this_year_info['bottom_OBP']

In [605]:
this_year_info['OBP'] = OBP
this_year_info = this_year_info[np.isfinite(this_year_info['OBP'])]

/Users/trishataylor/Documents/week4/homework/moneyball/.direnv/python-3.5.1/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [606]:
player_data = pd.read_csv('/Users/trishataylor/Documents/week4/homework/moneyball/data/Master.csv')
player_data1 = player_data[['playerID', 'deathYear', 'nameFirst', 'nameLast']].copy()
#player_data1

In [607]:
living_players = player_data1[player_data1.deathYear.isnull()]
# living_players1 = living_players[living_players.finalGame.isnull()]
len(living_players)

9510

In [608]:
living_player_stats = pd.merge(living_players, this_year_info)

In [609]:
salary_data = pd.read_csv('/Users/trishataylor/Documents/week4/homework/moneyball/data/Salaries.csv')
salary_info = salary_data[['yearID', 'teamID', 'playerID', 'salary']].copy()
salary_this_year = salary_info[salary_info.yearID == 2015]

In [610]:
living_paid = pd.merge(living_player_stats, salary_this_year)

In [636]:
living_paid = living_paid[living_paid['H']>81]
living_paid = living_paid[living_paid['BB']>25]
living_paid = living_paid[living_paid['AB']>302]
living_paid = living_paid[living_paid['salary']>510000]
living_paid = living_paid[living_paid['salary']<550000]
living_paid = living_paid[living_paid['OBP']>0.33]
sorted_players = living_paid.sort_values('salary', ascending=False)
sorted_players

,playerID,deathYear,nameFirst,nameLast,yearID,teamID,H,BB,HBP,AB,SF,top_OBP,bottom_OBP,OBP,salary
334,machama01,NaN,Manny,Machado,2015,BAL,181.0,70.0,4.0,633.0,4.0,255.0,711.0,0.358650,548000
50,bogaexa01,NaN,Xander,Bogaerts,2015,BOS,196.0,32.0,3.0,613.0,3.0,231.0,651.0,0.354839,543000
256,holtbr01,NaN,Brock,Holt,2015,BOS,127.0,46.0,3.0,454.0,2.0,176.0,505.0,0.348515,530500
473,robincl01,NaN,Clint,Robinson,2015,WAS,84.0,37.0,5.0,309.0,1.0,126.0,352.0,0.357955,525000
44,blackch02,NaN,Charlie,Blackmon,2015,COL,176.0,46.0,13.0,614.0,4.0,235.0,677.0,0.347120,517500
316,lemahdj01,NaN,DJ,LeMahieu,2015,COL,170.0,50.0,1.0,564.0,2.0,221.0,617.0,0.358185,517500
42,bettsmo01,NaN,Mookie,Betts,2015,BOS,174.0,46.0,2.0,597.0,6.0,222.0,651.0,0.341014,514500
267,inciaen01,NaN,Ender,Inciarte,2015,ARI,159.0,26.0,4.0,524.0,5.0,189.0,559.0,0.338104,513000
577,vogtst01,NaN,Stephen,Vogt,2015,OAK,116.0,56.0,2.0,445.0,8.0,174.0,511.0,0.340509,512500

In [637]:
len(sorted_players)

9

In [638]:
player_ids = sorted_players['playerID']

In [639]:
fielding = pd.read_csv('/Users/trishataylor/Documents/week4/homework/moneyball/data/Fielding.csv')
player_pos = fielding[['playerID', 'yearID', 'POS']].copy()
player_pos = player_pos[player_pos.yearID == 2015]

In [640]:
this_year_pos = player_pos[player_pos['playerID'].isin(player_ids)]
this_year_pos

         playerID  yearID POS
168567  robincl01    2015   P
168858   vogtst01    2015   C
168938   holtbr01    2015  1B
169015  robincl01    2015  1B
169052   vogtst01    2015  1B
169132   holtbr01    2015  2B
169149  lemahdj01    2015  2B
169299   holtbr01    2015  3B
169318  machama01    2015  3B
169415  bogaexa01    2015  SS
169459   holtbr01    2015  SS
169470  machama01    2015  SS
169536  blackch02    2015  LF
169631   holtbr01    2015  LF
169633  inciaen01    2015  LF
169717  robincl01    2015  LF
169795  bettsmo01    2015  CF
169796  blackch02    2015  CF
169852   holtbr01    2015  CF
169855  inciaen01    2015  CF
169958  bettsmo01    2015  RF
169959  blackch02    2015  RF
170037   holtbr01    2015  RF
170041  inciaen01    2015  RF
170116  robincl01    2015  RF
170197  bettsmo01    2015  OF
170198  blackch02    2015  OF
170327   holtbr01    2015  OF
170332  inciaen01    2015  OF
170442  robincl01    2015  OF

After review, my optimal team from 2015 is:

Pitcher: Clint Robin from the Washington Nationals

Catcher: Stephen Vogt from the Oakland Athletics

1st Base: Brock Holt from the Boston Red Sox

2nd Base: DJ LeMahieu from the Colorado Rockies

3rd Base: Manny Machado from the Baltimore Orioles

Short Stop: Xander Bogaerts from the Boston Red Sox

Left Field: Ender Inciarte from the Arizona Diamondbacks

Center Field: Mookie Betts from the Boston Red Sox

Right Field: Charlie Blackmon from the Colorado Rockies