In [222]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

%matplotlib inline

In [277]:
batting_data = pd.read_csv('/Users/trishataylor/Documents/week4/homework/moneyball/data/Batting.csv')
info = batting_data[['playerID', 'yearID', 'teamID','H', 'BB', 'HBP', 'AB', 'SF']].copy()
type(info)

pandas.core.frame.DataFrame

In [278]:
year_info = info[np.isfinite(info['yearID'])]

In [279]:
this_year_info = year_info[year_info.yearID == 2015]

In [280]:
top = this_year_info[['H', 'BB', 'HBP']]

bottom = this_year_info[['AB', 'BB', 'HBP', 'SF']]

In [281]:
top = top.sum(axis=1)
bottom = bottom.sum(axis=1)

In [282]:
this_year_info['top_OBP'] = top
this_year_info['bottom_OBP'] = bottom

/Users/trishataylor/Documents/week4/homework/moneyball/.direnv/python-3.5.1/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/trishataylor/Documents/week4/homework/moneyball/.direnv/python-3.5.1/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [283]:
OBP = this_year_info['top_OBP']/this_year_info['bottom_OBP']

In [284]:
this_year_info['OBP'] = OBP
this_year_info = this_year_info[np.isfinite(this_year_info['OBP'])]

/Users/trishataylor/Documents/week4/homework/moneyball/.direnv/python-3.5.1/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [285]:
player_data = pd.read_csv('/Users/trishataylor/Documents/week4/homework/moneyball/data/Master.csv')
player_data1 = player_data[['playerID', 'deathYear', 'nameFirst', 'nameLast']].copy()
#player_data1

In [286]:
living_players = player_data1[player_data1.deathYear.isnull()]
# living_players1 = living_players[living_players.finalGame.isnull()]
len(living_players)

9510

In [287]:
living_player_stats = pd.merge(living_players, this_year_info)
living_player_stats

,playerID,deathYear,nameFirst,nameLast,yearID,teamID,H,BB,HBP,AB,SF,top_OBP,bottom_OBP,OBP
0,aardsda01,NaN,David,Aardsma,2015,ATL,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000
1,abreujo02,NaN,Jose,Abreu,2015,CHA,178.0,39.0,15.0,613.0,1.0,232.0,668.0,0.347305
2,ackledu01,NaN,Dustin,Ackley,2015,SEA,40.0,14.0,1.0,186.0,3.0,55.0,204.0,0.269608
3,ackledu01,NaN,Dustin,Ackley,2015,NYA,15.0,4.0,0.0,52.0,1.0,19.0,57.0,0.333333
4,adamecr01,NaN,Cristhian,Adames,2015,COL,13.0,3.0,1.0,53.0,0.0,17.0,57.0,0.298246
5,adamsau01,NaN,Austin,Adams,2015,CLE,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000
6,adamsma01,NaN,Matt,Adams,2015,SLN,42.0,10.0,0.0,175.0,1.0,52.0,186.0,0.279570
7,adriaeh01,NaN,Ehire,Adrianza,2015,SFN,21.0,15.0,4.0,113.0,0.0,40.0,132.0,0.303030
8,affelje01,NaN,Jeremy,Affeldt,2015,SFN,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.000000
9,aguilje01,NaN,Jesus,Aguilar,2015,CLE,6.0,0.0,1.0,19.0,0.0,7.0,20.0,0.350000
10,ahmedni01,NaN,Nick,Ahmed,2015,ARI,95.0,29.0,1.0,421.0,3.0,125.0,454.0,0.275330
11,alberha01,NaN,Hanser,Alberto,2015,TEX,22.0,2.0,0.0,99.0,0.0,24.0,101.0,0.237624
12,alcanar01,NaN,Arismendy,Alcantara,2015,CHN,2.0,5.0,0.0,26.0,0.0,7.0,31.0,0.225806
13,almonab01,NaN,Abraham,Almonte,2015,SDN,11.0,5.0,0.0,54.0,0.0,16.0,59.0,0.271186
14,almonab01,NaN,Abraham,Almonte,2015,CLE,47.0,16.0,0.0,178.0,2.0,63.0,196.0,0.321429
15,alonsyo01,NaN,Yonder,Alonso,2015,SDN,100.0,42.0,3.0,354.0,3.0,145.0,402.0,0.360697
16,altheaa01,NaN,Aaron,Altherr,2015,PHI,33.0,16.0,5.0,137.0,2.0,54.0,160.0,0.337500
17,altuvjo01,NaN,Jose,Altuve,2015,HOU,200.0,33.0,9.0,638.0,6.0,242.0,686.0,0.352770
18,alvarda02,NaN,Dariel,Alvarez,2015,BAL,7.0,2.0,0.0,29.0,0.0,9.0,31.0,0.290323
19,alvarhe01,NaN,Henderson,Alvarez,2015,MIA,2.0,0.0,0.0,6.0,0.0,2.0,6.0,0.333333
20,alvarpe01,NaN,Pedro,Alvarez,2015,PIT,106.0,48.0,2.0,437.0,4.0,156.0,491.0,0.317719
21,amarial01,NaN,Alexi,Amarista,2015,SDN,66.0,24.0,1.0,324.0,5.0,91.0,354.0,0.257062
22,anderbr04,NaN,Brett,Anderson,2015,LAN,4.0,5.0,0.0,47.0,0.0,9.0,52.0,0.173077
23,anderbr05,NaN,Bryan,Anderson,2015,OAK,2.0,1.0,0.0,5.0,1.0,3.0,7.0,0.428571
24,anderch01,NaN,Chase,Anderson,2015,ARI,5.0,1.0,0.0,48.0,0.0,6.0,49.0,0.122449
25,anderco01,NaN,Cody,Anderson,2015,CLE,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.000000
26,andrima01,NaN,Matt,Andriese,2015,TBA,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000
27,andruel01,NaN,Elvis,Andrus,2015,TEX,154.0,46.0,2.0,596.0,9.0,202.0,653.0,0.309342
28,annade01,NaN,Dean,Anna,2015,SLN,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000
29,aokino01,NaN,Nori,Aoki,2015,SFN,102.0,30.0,6.0,355.0,0.0,138.0,391.0,0.352941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,willije02,NaN,Jerome,Williams,2015,PHI,2.0,1.0,0.0,31.0,0.0,3.0,32.0,0.093750
1004,willima07,NaN,Mason,Williams,2015,NYA,6.0,1.0,0.0,21.0,0.0,7.0,22.0,0.318182
1005,willima08,NaN,Mac,Williamson,2015,SFN,7.0,0.0,1.0,32.0,1.0,8.0,34.0,0.235294
1006,wilsobo02,NaN,Bobby,Wilson,2015,TBA,8.0,4.0,0.0,55.0,0.0,12.0,59.0,0.203390
1007,wilsobo02,NaN,Bobby,Wilson,2015,TEX,17.0,7.0,1.0,77.0,1.0,25.0,86.0,0.290698
1008,wilsocj01,NaN,C. J.,Wilson,2015,LAA,2.0,0.0,0.0,6.0,0.0,2.0,6.0,0.333333
1009,wilsojo03,NaN,Josh,Wilson,2015,DET,12.0,0.0,2.0,38.0,0.0,14.0,40.0,0.350000
1010,wilsoty01,NaN,Tyler,Wilson,2015,BAL,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.000000
1011,wislema01,NaN,Matt,Wisler,2015,ATL,4.0,2.0,0.0,29.0,0.0,6.0,31.0,0.193548
1012,wongko01,NaN,Kolten,Wong,2015,SLN,146.0,36.0,15.0,557.0,5.0,197.0,613.0,0.321370
1013,woodal02,NaN,Alex,Wood,2015,ATL,5.0,3.0,0.0,33.0,0.0,8.0,36.0,0.222222
1014,woodal02,NaN,Alex,Wood,2015,LAN,4.0,1.0,0.0,22.0,0.0,5.0,23.0,0.217391
1015,woodtr01,NaN,Travis,Wood,2015,CHN,3.0,2.0,0.0,30.0,0.0,5.0,32.0,0.156250
1016,wootero01,NaN,Rob,Wooten,2015,MIL,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000
1017,worleva01,NaN,Vance,Worley,2015,PIT,3.0,0.0,0.0,17.0,0.0,3.0,17.0,0.176471
1018,wrighda03,NaN,David,Wright,2015,NYN,44.0,22.0,0.0,152.0,0.0,66.0,174.0,0.379310
1019,wrighmi01,NaN,Mike,Wright,2015,BAL,1.0,0.0,0.0,2.0,0.0,1.0,2.0,0.500000
1020,wrighst01,NaN,Steven,Wright,2015,BOS,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000
1021,yelicch01,NaN,Christian,Yelich,2015,MIA,143.0,47.0,2.0,476.0,0.0,192.0,525.0,0.365714
1022,ynoara01,NaN,Rafael,Ynoa,2015,COL,33.0,3.0,0.0,127.0,0.0,36.0,130.0,0.276923
1023,youngch03,NaN,Chris,Young,2015,KCA,2.0,0.0,0.0,4.0,0.0,2.0,4.0,0.500000
1024,youngch04,NaN,Chris,Young,2015,NYA,80.0,30.0,3.0,318.0,2.0,113.0,353.0,0.320113
1025,youngde03,NaN,Delmon,Young,2015,BAL,47.0,4.0,1.0,174.0,1.0,52.0,180.0,0.288889
1026,younger03,NaN,Eric,Young,2015,ATL,13.0,6.0,0.0,77.0,0.0,19.0,83.0,0.228916
1027,younger03,NaN,Eric,Young,2015,NYN,0.0,0.0,1.0,8.0,0.0,1.0,9.0,0.111111
1028,zimmejo02,NaN,Jordan,Zimmermann,2015,WAS,10.0,0.0,0.0,63.0,0.0,10.0,63.0,0.158730
1029,zimmery01,NaN,Ryan,Zimmerman,2015,WAS,86.0,33.0,1.0,346.0,10.0,120.0,390.0,0.307692
1030,zobribe01,NaN,Ben,Zobrist,2015,OAK,63.0,33.0,0.0,235.0,3.0,96.0,271.0,0.354244
1031,zobribe01,NaN,Ben,Zobrist,2015,KCA,66.0,29.0,1.0,232.0,2.0,96.0,264.0,0.363636
1032,zuninmi01,NaN,Mike,Zunino,2015,SEA,61.0,21.0,5.0,350.0,2.0,87.0,378.0,0.230159

In [288]:
salary_data = pd.read_csv('/Users/trishataylor/Documents/week4/homework/moneyball/data/Salaries.csv')
salary_info = salary_data[['yearID', 'teamID', 'playerID', 'salary']].copy()
salary_this_year = salary_info[salary_info.yearID == 2015]

In [289]:
living_paid = pd.merge(living_player_stats, salary_this_year)
living_paid

,playerID,deathYear,nameFirst,nameLast,yearID,teamID,H,BB,HBP,AB,SF,top_OBP,bottom_OBP,OBP,salary
0,abreujo02,NaN,Jose,Abreu,2015,CHA,178.0,39.0,15.0,613.0,1.0,232.0,668.0,0.347305,8666000
1,ackledu01,NaN,Dustin,Ackley,2015,SEA,40.0,14.0,1.0,186.0,3.0,55.0,204.0,0.269608,2600000
2,adamsau01,NaN,Austin,Adams,2015,CLE,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,507700
3,adamsma01,NaN,Matt,Adams,2015,SLN,42.0,10.0,0.0,175.0,1.0,52.0,186.0,0.279570,534000
4,affelje01,NaN,Jeremy,Affeldt,2015,SFN,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.000000,6000000
5,ahmedni01,NaN,Nick,Ahmed,2015,ARI,95.0,29.0,1.0,421.0,3.0,125.0,454.0,0.275330,508500
6,alcanar01,NaN,Arismendy,Alcantara,2015,CHN,2.0,5.0,0.0,26.0,0.0,7.0,31.0,0.225806,510000
7,alonsyo01,NaN,Yonder,Alonso,2015,SDN,100.0,42.0,3.0,354.0,3.0,145.0,402.0,0.360697,1650000
8,altuvjo01,NaN,Jose,Altuve,2015,HOU,200.0,33.0,9.0,638.0,6.0,242.0,686.0,0.352770,2500000
9,alvarhe01,NaN,Henderson,Alvarez,2015,MIA,2.0,0.0,0.0,6.0,0.0,2.0,6.0,0.333333,4000000
10,alvarpe01,NaN,Pedro,Alvarez,2015,PIT,106.0,48.0,2.0,437.0,4.0,156.0,491.0,0.317719,5750000
11,amarial01,NaN,Alexi,Amarista,2015,SDN,66.0,24.0,1.0,324.0,5.0,91.0,354.0,0.257062,1150000
12,anderbr04,NaN,Brett,Anderson,2015,LAN,4.0,5.0,0.0,47.0,0.0,9.0,52.0,0.173077,10000000
13,anderch01,NaN,Chase,Anderson,2015,ARI,5.0,1.0,0.0,48.0,0.0,6.0,49.0,0.122449,512500
14,andrima01,NaN,Matt,Andriese,2015,TBA,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,507500
15,andruel01,NaN,Elvis,Andrus,2015,TEX,154.0,46.0,2.0,596.0,9.0,202.0,653.0,0.309342,15000000
16,aokino01,NaN,Nori,Aoki,2015,SFN,102.0,30.0,6.0,355.0,0.0,138.0,391.0,0.352941,4000000
17,archech01,NaN,Chris,Archer,2015,TBA,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.000000,1166667
18,arciaos01,NaN,Oswaldo,Arcia,2015,MIN,16.0,4.0,2.0,58.0,1.0,22.0,65.0,0.338462,532500
19,arenano01,NaN,Nolan,Arenado,2015,COL,177.0,34.0,4.0,616.0,11.0,215.0,665.0,0.323308,512500
20,ariasjo01,NaN,Joaquin,Arias,2015,SFN,12.0,0.0,0.0,58.0,0.0,12.0,58.0,0.206897,1450000
21,arrieja01,NaN,Jake,Arrieta,2015,CHN,12.0,1.0,0.0,79.0,0.0,13.0,80.0,0.162500,3630000
22,ascheco01,NaN,Cody,Asche,2015,PHI,104.0,26.0,4.0,425.0,1.0,134.0,456.0,0.293860,517500
23,avilaal01,NaN,Alex,Avila,2015,DET,34.0,40.0,0.0,178.0,0.0,74.0,218.0,0.339450,5400000
24,avilemi01,NaN,Mike,Aviles,2015,CLE,67.0,20.0,1.0,290.0,1.0,88.0,312.0,0.282051,3500000
25,aybarer01,NaN,Erick,Aybar,2015,LAA,161.0,25.0,4.0,597.0,5.0,190.0,631.0,0.301109,8500000
26,badenbu01,NaN,Burke,Badenhop,2015,CIN,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,1000000
27,baileho02,NaN,Homer,Bailey,2015,CIN,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.000000,10000000
28,bakerje03,NaN,Jeff,Baker,2015,MIA,15.0,8.0,0.0,72.0,0.0,23.0,80.0,0.287500,2100000
29,barmecl01,NaN,Clint,Barmes,2015,SDN,48.0,10.0,4.0,207.0,0.0,62.0,221.0,0.280543,1300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,wachami01,NaN,Michael,Wacha,2015,SLN,8.0,4.0,0.0,52.0,0.0,12.0,56.0,0.214286,520000
581,wadats01,NaN,Tsuyoshi,Wada,2015,CHN,0.0,1.0,0.0,8.0,0.0,1.0,9.0,0.111111,4000000
582,wainwad01,NaN,Adam,Wainwright,2015,SLN,0.0,0.0,0.0,10.0,0.0,0.0,10.0,0.000000,19500000
583,walkene01,NaN,Neil,Walker,2015,PIT,146.0,44.0,8.0,543.0,8.0,198.0,603.0,0.328358,8000000
584,walketa01,NaN,Taijuan,Walker,2015,SEA,1.0,0.0,0.0,9.0,0.0,1.0,9.0,0.111111,513100
585,walteza01,NaN,Zach,Walters,2015,CLE,4.0,0.0,0.0,30.0,0.0,4.0,30.0,0.133333,509600
586,warread01,NaN,Adam,Warren,2015,NYA,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.000000,572600
587,weaveje02,NaN,Jered,Weaver,2015,LAA,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.000000,18000000
588,weeksri01,NaN,Rickie,Weeks,2015,SEA,14.0,9.0,2.0,84.0,0.0,25.0,95.0,0.263158,2000000
589,werthja01,NaN,Jayson,Werth,2015,WAS,73.0,38.0,3.0,331.0,6.0,114.0,378.0,0.301587,21000000
590,wielajo01,NaN,Joe,Wieland,2015,LAN,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,590000
591,wietema01,NaN,Matt,Wieters,2015,BAL,69.0,21.0,0.0,258.0,3.0,90.0,282.0,0.319149,8300000
592,wilsobo02,NaN,Bobby,Wilson,2015,TBA,8.0,4.0,0.0,55.0,0.0,12.0,59.0,0.203390,700000
593,wilsocj01,NaN,C. J.,Wilson,2015,LAA,2.0,0.0,0.0,6.0,0.0,2.0,6.0,0.333333,18000000
594,wongko01,NaN,Kolten,Wong,2015,SLN,146.0,36.0,15.0,557.0,5.0,197.0,613.0,0.321370,520000
595,woodal02,NaN,Alex,Wood,2015,ATL,5.0,3.0,0.0,33.0,0.0,8.0,36.0,0.222222,520000
596,woodtr01,NaN,Travis,Wood,2015,CHN,3.0,2.0,0.0,30.0,0.0,5.0,32.0,0.156250,5686000
597,wootero01,NaN,Rob,Wooten,2015,MIL,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,509500
598,worleva01,NaN,Vance,Worley,2015,PIT,3.0,0.0,0.0,17.0,0.0,3.0,17.0,0.176471,2450000
599,wrighda03,NaN,David,Wright,2015,NYN,44.0,22.0,0.0,152.0,0.0,66.0,174.0,0.379310,20000000
600,wrighst01,NaN,Steven,Wright,2015,BOS,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.000000,510500
601,yelicch01,NaN,Christian,Yelich,2015,MIA,143.0,47.0,2.0,476.0,0.0,192.0,525.0,0.365714,570000
602,youngch03,NaN,Chris,Young,2015,KCA,2.0,0.0,0.0,4.0,0.0,2.0,4.0,0.500000,675000
603,youngch04,NaN,Chris,Young,2015,NYA,80.0,30.0,3.0,318.0,2.0,113.0,353.0,0.320113,2500000
604,youngde03,NaN,Delmon,Young,2015,BAL,47.0,4.0,1.0,174.0,1.0,52.0,180.0,0.288889,2250000
605,younger03,NaN,Eric,Young,2015,ATL,13.0,6.0,0.0,77.0,0.0,19.0,83.0,0.228916,1000000
606,zimmejo02,NaN,Jordan,Zimmermann,2015,WAS,10.0,0.0,0.0,63.0,0.0,10.0,63.0,0.158730,16500000
607,zimmery01,NaN,Ryan,Zimmerman,2015,WAS,86.0,33.0,1.0,346.0,10.0,120.0,390.0,0.307692,14000000
608,zobribe01,NaN,Ben,Zobrist,2015,OAK,63.0,33.0,0.0,235.0,3.0,96.0,271.0,0.354244,7500000
609,zuninmi01,NaN,Mike,Zunino,2015,SEA,61.0,21.0,5.0,350.0,2.0,87.0,378.0,0.230159,523500